{% extends "base.html" %}

{% block RGZ %}РГЗ 5 семестр
<div style="display: inline-block; position: relative; margin-left: 60%; color: white; text-decoration: none; top: 0px; font-size: 24px; margin-bottom: 30px;">
    <label style="font-size: 24px;">
        Кинотеатр
    </label>
    <a href="/osnovnaiu" style="border: 0px solid; margin-left: 40px; text-decoration: none; color: white;">Сеансы</a>
    <a href="/login" style="border: 1px solid; border-radius: 8px; padding: 5px; margin-left: 50px; text-decoration: none; color: white;">Войти</a></li>
    <a href="/register" style="border: 1px solid; border-radius: 8px; padding: 5px; color: white; background-color: rgb(149, 150, 250); text-decoration: none; ">Зарегистрироваться</a>
    <label>{{ username }}</label>
</div>

{% endblock %}

{% block main %}
    <h2>Изменения сеанса</h2>

    <form action="{{ url_for('osnovnaiu.edit_session', id=Session.id) }}" method="post">
        <input type="text" name="movie" placeholder="Название фильма" value="{{ Session.movie }}">
        <input type="time" name="time" placeholder="Время показа" value="{{ Session.time }}">
        <input type="date" name="date" placeholder="Дата показа" value="{{ Session.date }}">
        <button type="submit">Сохранить</button>
    </form>
{% endblock %}